<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <style>
         @import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

        body {
          font-family:"Nunito Sans";
          font-size: 1em;
        }
        #map { height: 500px; float:center; width:98%; overflow:hidden;}
        #left{ float:left; width:65%; overflow:hidden;  text-align: left;}
        #right{ float:right; width:35%; overflow:hidden; display: flex; margin-top: auto; margin-bottom: auto; margin-right: auto; margin-left: auto}
        #center{ float:center; width:100%; overflow:hidden;}
        #img {width: 90%; height: 90%;   margin-left: auto; margin-right: auto;}

        .btn1 {
          overflow: hidden;
          background: transparent;
          position: relative;
          padding: 3px 5px;
          border-radius: 10px;
          cursor: pointer;
          font-size: 15px;
          letter-spacing: 2px;
          font-weight: bold;
          margin: 2px 0px;
          }


        .alnleft {
            text-align: left;
        }
        .alnright {
            text-align: right;
        }


    </style>

    <title>Map</title>
</head>
<body>
    <div id = "left">
        <h2>Informacje o miastach</h2>
        <form th:action="@{/map}" method="get">
        Wpisz nazwę miasta <input type="text" name="city" th:value="*{city}" placeholder="Nazwa miasta">  <input type="submit" value="Wyszukaj" class="btn1 green">
        </form>
        <br>
        <p th:text="${wikiDTO.getText()}">
        <p><a th:href="@{${wikiDTO.getWikiURL()}}">Więcej na Wikipedii</a></p>
        <br>

        <table style="width: 100%;">
            <tr>
                <th>Pogoda</th>
                <td class="alnright">Temperatura:</td>
                <td class="alnleft"><span th:text="${#numbers.formatDecimal(weather.getTemperature(), 0, 'WHITESPACE', 1, 'POINT')}"/>°C</td>
                <td class="alnright">Ciśnienie:</td>
                <td class="alnleft"><span th:text="${weather.getPressure()}"/> hPa</td>
                <td class="alnright">Wilgotność:</td>
                <td class="alnleft"><span th:text="${weather.getHumidity()}"/> %</td>
                <td class="alnright">Prędkość wiatru:</td>
                <td class="alnleft"><span th:text="${#numbers.formatDecimal(weather.getWindSpeed(), 0, 'WHITESPACE', 1, 'POINT')}"/> m/s</td>
            </tr>
        </table>
        <br>
        <div id = "map" ></div>
    </div>

    <div id ="right">
        <img th:src="@{${wikiDTO.getImageURL()}}" id="img"/>
    </div>


<script th:inline="javascript">

        var lat = [[${wikiDTO.getLat()}]]
        var lon = [[${wikiDTO.getLon()}]]

        var map = L.map('map').setView([lat, lon], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var coordination = [[${coordination}]];

        L.marker([lat, lon]).addTo(map)
        .bindPopup([[${wikiDTO.getCity()}]])
        .openPopup();

</script>
</body>
</html>